/* Importing Iansui */
@import url('https://fonts.googleapis.com/css2?family=Iansui&display=swap');
/* Importing Boldonse */
@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    overflow: hidden;
    background-image: url('bg.jpg');
    color: #334a51;
}

#result_popup {
    text-align: center;
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vh;
    height: 50vh;
    border-radius: 20px;
    background-color: rgb(254, 242, 220);
}

#popup_heading {}

#popup_description {}

.popup_btns {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.popup_btns button {
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    height: 10vh;
    width: 20vh;
    text-align: center;
    font-family: "Boldonse", system-ui;
    font-size: 2.5vh;
    cursor: pointer;
}

#rematch_btn-popup:hover {
    background-color: rgb(220, 220, 220);
    color: #3Cb043;
}

#home_btn-popup:hover {
    background-color: rgb(220, 220, 220);
    color: #3944BC;
}

.board {
    background-color: transparent;
    width: 80vh;
    height: 80vh;
    padding: 10px;
}

.rows {
    height: 33.1%;
    display: flex;
    flex-direction: row;
}

.boxes {
    font-family: "Iansui", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    font-size: 600%;
    border: 5px solid #75b0d3;
    width: 33.1%;
    cursor: pointer;
    transition: 0.25s;
}

#top_row .boxes {
    border-top: none;
}

#last_row .boxes {
    border-bottom: none;
}

.first {
    border-left: none;
}

.third {
    border-right: none;
}

.boxes:hover {
    background-color: rgba(194, 234, 248, 0.37);
}

/* Mobile Responsive Potrait*/

@media only screen and (orientation: portrait) and (min-width: 200px) and (max-width: 480px) {


    #result_popup {
        height: 50vh;
        width: 80vw;
    }

    #popup_heading {
        font-size: 30px;
    }

    #popup_description {
        font-size: 13px;
    }

    .popup_btns {
        flex-direction: column;
    }

    .popup_btns button {
        height: 7vh;
        width: 50vw;
        font-size: 1em;
    }

    #rematch_btn-popup:hover,
    #home_btn-popup:hover {
        background-color: white;
        color: black;
    }

    #rematch_btn-popup:active {
        background-color: rgb(220, 220, 220);
        color: #3Cb043;
    }

    #home_btn-popup:active {
        background-color: rgb(220, 220, 220);
        color: #3944BC;
    }

    .board {
        width: 40vh;
        height: 40vh;
    }

    .boxes {
        font-size: 400%;
    }

}


/* Tablet Responsive Potrait (Including Larger Tablets)*/

@media only screen and (orientation: portrait) and (min-width: 481px) and (max-width: 1279px) {

    #result_popup {
        height: 50vh;
        width: 75vw;
    }

    #popup_heading {
        font-size: 3em;
    }

    #popup_description {}


    .popup_btns button {
        font-size: 1.5em;
    }

    #rematch_btn-popup:hover,
    #home_btn-popup:hover {
        background-color: white;
        color: black;
    }

    #rematch_btn-popup:active {
        background-color: rgb(220, 220, 220);
        color: #3Cb043;
    }

    #home_btn-popup:active {
        background-color: rgb(220, 220, 220);
        color: #3944BC;
    }

    .board {
        width: 60vh;
        height: 60vh;
    }

    .boxes {
        font-size: 600%;
    }

}
